.cell {
    -fx-background-color: #6e4f41;
    -fx-border-color: black;
    -fx-border-width: 1;
    -fx-alignment: center;
}

.cell-plant {
    -fx-background-color: green;
    -fx-border-color: black;
}

.cell-animal {
    -fx-background-color: white;
    -fx-border-color: black;
    -fx-font-size: 12px;
}

.cell-tracked-animal {
    -fx-background-color: red;
    -fx-border-color: black;
    -fx-font-size: 12px;
}

.cell-selected {
    -fx-background-color: yellow;
    -fx-border-color: black;
    -fx-font-size: 12px;
}

GridPane {
    -fx-alignment: center;
    -fx-padding: 10;
}

VBox {
    -fx-padding: 10;
    -fx-spacing: 10;
    -fx-background-color: #f0f0f0;
    -fx-border-color: #d3d3d3;
    -fx-border-width: 1;
    -fx-alignment: center;
}

Label {
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-text-fill: #333333;
}

HBox {
    -fx-spacing: 10;
    -fx-padding: 10;
    -fx-background-color: #f9f9f9;
}
